@page "/todolist"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>To Do List</h3>

<button
    type="button"
    class="btn btn-primary"
    @onclick="AddTask">Add</button>

<br/>
<br />

@if (items != null && items.Count > 0) 
{
<ul class="list-unstyled">
   <ItemsListComponent  Items="items" />
</ul>
}

@code {
    private List<ToDoItem> items = ToDoItemRepository.GetItems();

    private void AddTask()
    {
        ToDoItemRepository.AddToDoItem(new ToDoItem { Name = "New Task" });
        items = ToDoItemRepository.GetItems();
    }

}
